@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300..900&display=swap');

* {
    font-family: "Rubik", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.top-navbar-info {
    background-color: #ffa500;
    color: #ffffff;
}

.megaphone-img {
    width: 50px;
    height: 50px;
    animation: pulseFade 3s infinite ease-in-out;
}

@keyframes pulseFade {
    0%, 100% {
        opacity: 0;
        transform: scale(0.8);
    }
    50% {
        opacity: 1;
        transform: scale(1.1);
    }
}

.btn-toggle, .dropdown-menu, .dropdown-item {
    background-color: #ffa500;
    color: #ffffff;
}

.dropdown-item:hover {
    color: #ffffff;
}

@media (max-width: 768px) {
    .top-navbar-info .dropdown {
        justify-content: center;
    }
}

.navbar-brand img {
    width: 150px;
}

.btn-enroll {
    background-color: #6f42c1;
    color: white;
    border-radius: 20px;
    padding: 8px 20px;
}

.btn-close-custom {
    width: 40px;
    height: 40px;
    background-color: #6f42c1;
    color: white;
    border-radius: 8px;
}

.btn-close-custom:hover {
  background-color: #6610f2;
}